@model DiceItUp.Models.PlayerProfile

<div class="row player-profile">
    <div class="col-4 offset-2 card-column">
        <div class="card" style="width: 24rem;">
            <h5 class="player-title">  @ViewData["Title"] </h5>
            <img src="~/Content/images/avatars/@Model.avatar_path" class="card-img-top" align="middle">
            <div class="card-body">
                <h5 class="card-title">Name: @Model.first_name</h5>
                <p class="card-text">City: @ViewData["City"]</p>
                <p class="card-text">Gender: @ViewData["Gender"]</p>
            </div>
        </div>
    </div>

    @* container for about me *@
    <div class="col-4">
        <div class="description-section">
            <h5>About me </h5>
            <p>@Model.description</p>
        </div>

        @*<div class="description-section">
            <h5>Spilpraeferencer</h5>

        </div>

        <div class="description-section">
            <h5>Top 5 spil</h5>

        </div>*@
        <input class="btn btn-primary" type="button" value="Edit Profile" onclick="location.href='@Url.Action("Edit", "PlayerProfiles", new { id = Model.player_id})'">
    </div>
</div>
