@model DiceItUp.Models.PlayerProfile


<div class="row player-profile">
    <form action="/PlayerProfiles/Edit/@Model.player_id" method="post" class="row">
        <div class="col-4 offset-2 card-column">
            <div class="card" style="width: 24rem;">
                <h5 class="player-title"> @ViewData["Title"]</h5>
                <img src="https://images.unsplash.com/photo-1515160813423-b851dc54a427?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=722&q=80" class="card-img-top" height="360" width="300" align="middle">
                <div class="card-body">
                    <h5 class="card-title">First name: <input type="text" class="form-control" name="first_name" id="firstName" value=" @Model.first_name"></h5>
                    <h5 class="card-title">Last name: <input type="text" class="form-control" name="last_name" id="lastName" value=" @Model.last_name"></h5>
                    <p class="card-text">City: @ViewData["City"]</p>
                    <div class="card-text">
                        Gender:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="F">
                            <label class="form-check-label" for="femaleGender">
                                Female
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="maleGender" value="M">
                            <label class="form-check-label" for="maleGender">
                                Male
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* container for about me *@
        <div class="col-4">
            <div class="description-section">
                <h5>About me </h5>
                <div class="form-group">
                    <textarea class="form-control" name="description" rows="5" style="resize: none">@Model.description</textarea>
                </div>
            </div>

            @*<div class="description-section">
            <h5>Spilpraeferencer</h5>

            </div>

            <div class="description-section">
                <h5>Top 5 spil</h5>

            </div>*@
            <button type="submit" class="btn btn-primary mb-2">Update profile</button>
        </div>
    </form>    
</div>
